body{
    font-family: poppins;
}
/* navbar */



/* Jumbotron */
.jumbotron{
    color: white;
    font-family: poppins;
}

/* jumbotron index */
.jumbotron-index .jumbotron{
    text-align: center;
    background-color: rgb(78, 78, 78);
}
.jumbotron-index h2{
 font-weight: 500;
}
.jumbotron-index p{
    font-weight: 300;
}
/* jumbotron pricing */
.jumbotron-pricing .jumbotron{
    text-align: center;
    background-color: rgb(78, 78, 78);
}
.jumbotron-pricing h2{
 font-weight: 500;
}
.jumbotron-pricing p{
    font-weight: 300;
}
/* jumbotron 404 */
.jumbotron-404 .jumbotron{
    margin-top: -60px;
    padding-top: 100px;
    text-align: left;
    background-image: url(img/404.jpg);
    background-size: cover;
}
.jumbotron-404 h2{
 font-weight: 500;
}
.jumbotron-404 p{
    font-weight: 300;
}

/* jumbotron payment */
.jumbotron-payment .jumbotron{
    text-align: center;
    background-color: rgb(78, 78, 78);
}
.jumbotron-payment h2{
 font-weight: 500;
}
.jumbotron-payment p{
    font-weight: 300;
}

/* jumbotron about */
.jumbotron-about .jumbotron{
    margin-top: -60px;
    padding-top: 100px;
    text-align: left;
    background-image: url(img/about-us.png);
    background-size: cover;
}
.jumbotron-about h2{
 font-weight: 500;
}
.jumbotron-about p{
    font-weight: 300;
}
/* utilitis */
.tombol {
    border-radius: 25px;
    background-color: rgb(226, 132, 8);
    color: white;
}
.tombol:hover {
    border-radius: 25px;
    background-color: rgb(184, 107, 6);
    color: white;
}

.buy-contact a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

/* info panel */
.info-panel{
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -50px;
    padding: 40px;
}
.info-panel img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.info-panel h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}
.info-panel p{
    font-size: 14px;
    color: #acacac;
    font-weight: 200;
}

/* Konteks */
.konteks{
    margin-top: 50px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.konteks p {
    margin: 30px 0;
}

/* Testimonial */
.testimonial{
    margin-top: 100px;
}

/* Ajakan */
.ajakan{
    background-image: url(img/ajakan.png);
    background-size: cover;
}
.ajakan h4{
   font-weight: 600;
}

/* cat-word */
.cat-word{
    display: block;
    background-image: url(img/bg-1.jpg);
    background-size: cover;
    height:500px
}

/* footer */
.footer{
    background-color: rgb(78, 78, 78);
    color: white;
}


/* testimonial */
.testimonial h5{
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}
.testimonial figure img{
    width:60px;
    margin: 20px 15px 5px;
    opacity: 0.6;
}
.testimonial figure img.utama{
    width:80px;
    opacity: 1;
    margin-top: 10px;
}
.testimonial figure h5{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}
.testimonial figure p{
    text-align: center;
    font-size: 11px;
    margin-top: -5px;
}
.row-hiden{
    display: none;
}

/* pricing page */

.pricing-tron img {
    position: relative;
    height: 100px;
    background-size: cover;
}

.category img{
    max-height: 100px;
}
.petshop img{
    max-height: 225px;
}

.text-orange{
    color:rgba(255, 123, 0, 0.8);
}

.payment a{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Metode Pembayaran Page */
.metode-pembayaran{
    text-align: center;
}

/* Versi Dekstop) */
@media (min-width: 992px) { 

    .testimonial h5{
        font-size: 32px;
    }

    .navbar-brand, .nav-link{
        color:white !important;
        font-family: poppins;
        
    }

    .nav-link{
        margin-right:40px;
        
    }

    .jumbotron{
        text-align: left;
    }

    .jumbotron-index .jumbotron{
        margin-top: -60px;
        padding-top: 100px;
        text-align: left;
        background-image: url(img/imgbin_persian-cat-british-shorthair-maine-coon-ragdoll-siberian-cat-png.png);
        background-size: cover;
    }
   
    .jumbotron-pricing .jumbotron{
        margin-top: -60px;
        padding-top: 100px;
        text-align: left;
        background-image: url(img/banner-pricing.png);
        background-size: cover;
    }

    .jumbotron-payment .jumbotron{
        margin-top: -60px;
        padding-top: 100px;
        text-align: left;
        height: 200px;
        background-size: cover;
    }
    .jumbotron-payment h2{
        margin-top: -50px;
    }

    .jumbotron img.img-idex {
        background-size: cover;
        height: 300px;
        margin: center;
    }

    .konteks{
        margin-top: 50px;
        text-align: left;
    }
    .konteks img{
        height:300px;
    }

    .konteks h3{
        margin-left:30px
    }

    .konteks p{
        margin-left:30px
    }
    .img-center{
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .buy-contact{
        margin-top: 20px;
    }
    .buy-contact a{
        display: inline;
        font-size: 12px;
        margin-right: 5px;
    }

    .metode-pembayaran{
        text-align: left;
    }
    .bukti-pembayaran{
        font-size: 12px;
    }
    .maps{
        margin-bottom:10px;
    }
    .maps iframe{
        width:1000px;
    }

 }

